h5 {
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    font-size: 14px;
    background-color: #8c1e1f;
    border: 1px solid #8c1e1f;
    color: white;
    border: none;
    padding: 0.6rem 2.2rem;
    cursor: pointer;
}

button:hover {
    border: 1px solid #8c1e1f;
    background-color: white;
    color: #8c1e1f;
}

.upcoming-event-card {
  display: flex;
  width: 650px;
  height: 280px;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.upcoming-event-card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.upcoming-event-card h3 {
    font-size: 27px;
    color: #8c1e1f;
    font-weight: bold;
    margin-top: 3rem;
}

.upcoming-event-card h5 {
    font-size: 16px;
}

.upcoming-event-card p {
    font-size: 13px;
}

.event-card {
  width: 1200px;
  height: 390px;
  background-color: white;
  display: flex;
  margin: 0 auto;
  padding: 2rem 7rem;
  gap: 3.5rem;
}

.event-card-left {
  flex-direction: row;
}

.event-card-right {
  flex-direction: row-reverse;
}

.event-card img {
  width: 480px;
  height: 310px;
  object-fit: cover;
}

.event-card h3 {
    font-size: 38px;
    font-weight: bold;
    color: #8c1e1f;
    margin-bottom: 0.5rem;
}

.event-card h5 {
    font-size: 20px;
}

.event-card p {
    font-size: 16px;
}